.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;

    border: var(--border-primary);
    border-radius: var(--border-radius-primary);
}

.item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.name {
    font-weight: 700;
    width: 80px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.email {
    font-size: 12px;
    width: 100px;
}