.layout {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px minmax(min-content, 100%);

  gap: 10px;

  max-width: 1200px;
  margin: auto;
  max-height: 600px;
}

.contact-title {
  grid-column: 1 / -1;
  color: var(--color-tertiary);
  margin: 0 35px 0 0;
}

.layout__content {
  grid-column: 2/-1;
}

@media (max-width: 700px) {

  .layout {
    margin: 1px;
  }

  .layout__content {
    grid-column: 1/-1;
  }

}